<div>
    <h2 id="page-heading">
        <span jhiTranslate="petsApp.owner.home.title">Owners</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-owner" [routerLink]="['/owner/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="petsApp.owner.home.createLabel">
            Create new Owner
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="owners?.length === 0">
        <span jhiTranslate="petsApp.owner.home.notFound">No owners found</span>
    </div>
    <div class="table-responsive" *ngIf="owners?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="petsApp.owner.name">Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let owner of owners ;trackBy: trackId">
                <td><a [routerLink]="['/owner', owner.id, 'view' ]">{{owner.id}}</a></td>
                <td>{{owner.name}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/owner', owner.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/owner', owner.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'owner', { outlets: { popup: owner.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
